@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&display=swap");

:root {
  --mono: "Fira Mono", monospace;
  --accent-2-dark: lime;
  --accent-2-light: fuchsia;
}

body,
.input,
.btn,
.textarea {
  font-family: var(--mono);
}

.card {
  border: var(--thickness) solid var(--accent-1);
}

.card:hover {
  border: var(--thickness) solid var(--accent-2);
}

.content-grid {
  margin-block-start: var(--space-sm);
}

@media screen and (max-width: 600px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}
