.avatar-image {
  width: 160px;
  border-radius: 100%;
  position: absolute;
  bottom: var(--space-xs);
  left: var(--space-xs);
  box-shadow: var(--elevation-3);
}

.avatar-quote-container {
  position: absolute;
  bottom: 170px;
  left: 150px;
  z-index: 1;
  width: 600px;
  box-shadow: var(--elevation-3);
}

@media (max-width: 768px) {
  .avatar-image,
  .avatar-quote-container {
    display: none;
  }
}

.avatar-quote {
  position: absolute;
  top: 0;
  left: 0;
  width: fit-content;
  transition: opacity 0.2s ease-in-out;
  border-radius: var(--space-md);
  opacity: 0;
  padding: var(--space-sm);
  box-shadow: var(--elevation-3);
  transition: var(--transition);
}

.avatar-quote[current-quote="true"] {
  opacity: 1;
  animation: pulse 0.3s;
  background-color: var(--bg-2);
  border: var(--thickness) solid var(--accent-1);
}

.avatar-quote[avatar-quote-number="4"] {
  color: var(--error-color);
  font-family: monospace;
  font-style: italic;
  animation: glitch 0.3s infinite;
}

.avatar-quote-container > .avatar-quote[avatar-quote-number="4"] {
  animation: flicker 0.3s infinite;
}

.avatar-quote[avatar-quote-number="4"]:not([current-quote="true"]) {
  display: none;
}

@keyframes pulse {
  0% {
    transform: scale(1) skew(0deg);
    opacity: 1;
  }
  50% {
    transform: scale(1.01) skew(5deg);
    opacity: 0.9;
  }
  100% {
    transform: scale(1) skew(0deg);
    opacity: 1;
  }
}

@keyframes glitch {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(-5px);
  }
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  5% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  85% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
